@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

body 
{
    margin: 0;
    padding: 0;
    /* min-height: 100vh; */
    background-image: url('images/bg-desktop.svg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: rgb(103, 75, 176);
}

.huddle-logo 
{
    margin-left: 150px;
    margin-top: 40px;
    width: fit-content;
}

.content
{
    display: flex;
    max-width: 1440px;
    gap: 8rem;
    margin: auto;
    padding: 115px 0px;
    justify-content: space-between;
}

.illustrations
{
    width: 100%;
    display: block;
}

h1 
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 45px;
    width: 500px;
    color: white;
}

p 
{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    width: 630px;
    color: white;
}

button 
{
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border-radius: 22px;
    color: hsl(257, 40%, 49%)
}

.social-icons-container 
{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.fa-brands
{
    cursor: pointer;
    font-size: 38px;
    color: white;
    padding: 0px 16px;
}

@media (max-width: 1024px)
{
    body
    {
        background-image: url(images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .content
    {
        flex-direction: column;
        text-align: center;
    }

}